.container {
  padding-top: 4em;
}

.cardGrid {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}

.card {
  width: clamp(200px, 300px, 400px);
}

.marginBottom {
  margin-bottom: 4em;
}
